<div class="p-6">
    <h3>Post List</h3>
    <div >
        <button class="bg-blue-500 text-white px-6 py-3 rounded-md my-6"  routerLink="/posts/add">Add Post</button>
    </div>
    <table>
        <thead>
            <th>id</th>
            <th>title</th>
            <th>description</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr *ngFor="let post of posts | async">
                <td>{{post?.id}}</td>
                <td>{{post?.title}}</td>
                <td>{{post?.description}}</td>
                <td>
                    <button class="bg-blue-500 text-white px-6 py-2 rounded-md" [routerLink]="[ 'edit', post.id]">update</button>
                    <button class="bg-red-500 text-white px-6 py-2 rounded-md" (click)="onDeletePost(post.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<router-outlet></router-outlet>