<div class="w-full max-w-xs">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" [formGroup]="editPost" >
      
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
          Title
        </label>
        <input  formControlName="title"
        class="shadow appearance-none border  rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" type="text" >
      </div>
      <div>
        {{titleErrors()}}

      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
          Description
        </label>
        <textarea 
        formControlName="description"
        class="shadow appearance-none border  rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"  type="text" ></textarea>
      </div>
      <div>
        {{descriptionErrors()}}
      </div>
      <div class="flex items-center justify-between">
        <button 
        [disabled]="!editPost.valid"
        (click)="onEditPost()"
         class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
          edit post
        </button>
     
      </div>
    </form>
    
  </div> 